@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            <div class="form-group">
                                <label>Username *</label>
                                <input id="username" type="text" class="form-control p_input">
                            </div>
                            <div class="form-group">
                                <label>Password *</label>
                                <input id="password" type="password" class="form-control p_input">
                            </div>
                            <div class="form-group" style="display:none" id="secret">
                                <label>Mã xác thực </label>
                                <input id="otp" type="number" class="form-control p_input">
                            </div>
                            @*<div class="form-group d-flex align-items-center justify-content-between">
                            <div class="form-check">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Remember me
                            </label>
                            </div>
                            <a href="#" class="forgot-pass">Forgot password</a>
                            </div>*@
                            <div class="text-center">
                                <button id="btnlogin" style="display:block" onclick="Login()" class="btn btn-primary btn-block enter-btn">Login</button>
                                <button id="btnlogin2" style="display:none" onclick="Login2()" class="btn btn-primary btn-block enter-btn">Xác thực</button>
                            </div>
                            <p class="sign-up">Don't have an Account?<a href="@Url.Action("Register","Auth")"> Sign Up</a></p>

                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>

<script>

    function Login() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        console.log("username", username)
        console.log("password", password)
        let param = {
            'username': username,
            'password': password
        };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("Login")",
            data: param,
            async: true,
            success: function (data) {
                console.log("data", data)
                if (data.success) {
                    if (data.data.accesstoken != null) {
                        location.href = '/';
                    } else {
                        document.getElementById("secret").style.display = "block";
                        document.getElementById("btnlogin").style.display = "none";
                        document.getElementById("btnlogin2").style.display = "block";
                    }
                } else {
                    alert(data.message)
                }
            }
        });
    }

    function Login2() {
        let username = document.getElementById("username").value;
        let otp = document.getElementById("otp").value;
       
        let param = {
            'username': username,
            'otp': otp
        };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("Login2")",
            data: param,
            async: true,
            success: function (data) {
                console.log("data login 2", data)
                if (data.success == false){
                    alert(data.message);
                }else{
                    location.href = '/';
                }
               
            }
        });
    }
</script>