@{
    Layout = "_Layout";
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Wallet</h4>
            <button onclick="Create()" class="btn btn-primary mr-2">Create new wallet</button>
                <button class="btn btn-dark">Cancel</button>
        </div>
    </div>
</div>

<script>
    function Create() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Create")",
            async: true,
            success: function (data) {
                console.log("data", data)
                if (data.success  ) {
                    location.href = '/Wallet';
                } else {
                    alert(data.message)
                }
            }
        });
    }
</script>